<div class="section section-white">
	<div class="container">
		<div class="row">
			<div class="desc-video">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY">
						</iframe>
					</div>
				</div>
				<div class="col-md-6">
					<div class="desc-container">
						<div class="desc">
							<h2><strong>What is Bodrum?</strong></h2>
							<h4><strong> Everything you need, on the go, for share!</strong></h4>
						</div>
						<div>
							<ul>
								<li>80% of the things we own are used no more than once a month.</li>
								<li>Share and make better use of resources.</li>
								<li>Save your money and make your own buisness.</li>
								<li>Make connections with others.</li>
							</ul>
						</div>
						<div>
							<h3>Just .. Get out your Bodrum!</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>