<div class="section section-white">
	<div class="container">
		<div class="row">
			<div class="desc-video">
				<div class="col-md-6">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY">
						</iframe>
					</div>
				</div>
				<div class="col-md-6">
					<div class="desc">
						<h2>What is Bodrum?</h2>
						<h3>Everything you need, on the go, for share!</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>