	<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Education</h1>						
						   <select class="form-control" style="width:13%" id="" ng-module="d" ng-options="o" ng-value="enter">
							    <option selected hidden> Choose Section </option>
							   <option value=""> Exchange</option>
							   <option value=""> Rent</option>
							   <option value=""> Buy</option>
							   <option value=""> Donate</option>							   
						   </select>						  
					</div>
				</div>
			</div>			
	</div>
	
        <div class="section">	 
        <div class="container">	 			
				<div class="row">
					<div class="service-wrapper">
			            <ul class="img-thumbnail"  *ngFor="let item of items">
	        	            <div class="col-md-4 col-sm-6" >
					           <figure>
								   <div class="contimg">							   
						          <img [src]="item.photo" class="image" style="width: 300px ;"/>
								  <div class="middle">
                    <button class="text" id="contfig">Take a look</button>
                  </div>
								   </div>
							       </figure>
	        	            </div>
			             </ul>												
		    	</div>
				<ul class="pager">
				  <li><a href="#">Previous</a></li>
				  <li><a href="#">Next</a></li>
				</ul>			
        </div>
		</div>
	