.navbar-default {
    background-color: #FFF;
    border-color: #CCC;
}
.navbar {
	background:#111;
}

.img-thumbnail{
  border: 0;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
	
    .top-nav-collapse {
        padding: 0;
    }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #F84B00;
    color: #fff;
}

/* Portfolio Grid and Hover Effects */

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: left;
}

.grid figure {
	margin: 0;
	position: relative;
	margin-top:20px;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #000;
	color: #ed4e6e;
}

.grid figcaption h3 {
	font-size:18px;
	text-transform:uppercase;
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 0;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}


.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 80px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* Caption Style 2 */
.cs-style-2 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.cs-style-2 figcaption {
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.cs-style-2 figcaption a {
	position: absolute;
	right: 20px;
	top: 30px;
}

/*--------------------------------------------------------------------------
	General Style
--------------------------------------------------------------------------*/
body {
  background: #FFFFFF;
  overflow-x:hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.contimg:hover .image {
  opacity: 0.7;
}

.contimg:hover .middle {
  opacity: 1;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.contimg{
  position: relative;
  width: 50%;
}
.text {
  background-color: #F84B00;
  color: white;
  font-size: 13px;
  padding: 4px 4px;
}
#contfig{
  margin-left:250px; 
  width:100px;
  height: 50px;
}
.section {
  padding: 30px 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.section-white {
  background: #FFF;
}
.section-dark {
  background: #151515;
}
.section-dark h3 {
  color:#FFF;
  font-size:18px;
  font-weight:200;
}
.section .container:first-child h1,
.section .container:first-child h2,
.section .container:first-child h3 {
  margin-top: 0;
  font-weight: 700;
}
.input-micro {
  width: 50px;
  margin-bottom: 0 !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(79, 141, 179, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
  color: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(79, 141, 179, 0.6);
}
ul.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
ul.no-list-style li {
  line-height: 28px;
}
div[class*="span"] {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  -ms-transition: all .4s linear;
  transition: all .4s linear;
}
/*--------------------------------------------------------------------------
	Typography Style
--------------------------------------------------------------------------*/
body {
  font-family: Arial, 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #535b60;
}
h1 {
  color: #53555c;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}
h2 {
  color: #53555c;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  margin: 30px 0 0 0;
}
h3 {
  font-family: 'Lato', sans-serif;
  color: #53555c;
  font-size: 1.5em;
}
h4 {
  font-family: 'Lato', sans-serif;
  color: #53555c;
  margin-bottom: 10px;
}
a {
  color: #F84B00;
  outline: 0;
}
a:hover {
  color: #000000;
  text-decoration:none;
  outline: 0;
}
/*--------------------------------------------------------------------------
+	Services Style
--------------------------------------------------------------------------*/
/* Multicolumn */
.service-wrapper {
  text-align: center;
  color: 0 0 3px #999;
  margin-bottom:30px;
}
.service-wrapper h3 {
  font-size: 1.2em;
  margin: 10px 0 !important;
}
.service-wrapper p {
  margin-top: 0;
}
.service-wrapper i {
	font-size:54px;
}
/* Row */
.service-wrapper-row {
  padding: 10px 0;
}
.service-wrapper-row h3 {
  padding-top: 15px;
}
.service-wrapper-row .service-image {
  padding-top: 15px;
  text-align: center;
}
.service-wrapper-row .service-image img {
  max-width: 80%;
  vertical-align: bottom;
  bottom: 0;
  border: 7px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 8px #999;
  -moz-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;
  color: 0 0 8px #999;
}
/*--------------------------------------------------------------------------
+	Portfolio Item Page Style
--------------------------------------------------------------------------*/
.product-image-large {
  border: 8px solid #FFF;
  text-align: center;
  margin-bottom: 10px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
}
.product-image-large img {
  max-width: 100%;
}
.product-details h4,
.product-details h5 {
  font-weight: 700;
}
.product-details h4 {
  margin-bottom: 20px;
}
.product-details h5 {
  margin-top: 20px;
}
.product-details .price {
  font-size: 1.4em;
  font-weight: 700;
  text-align: left;
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  display: inline;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.product-details .price-was {
  text-decoration: line-through;
  font-size: 0.8em;
  font-weight: normal;
}
.product-details .shop-item-selections {
  width: 100%;
}
.product-details .shop-item-selections td {
  line-height: 36px;
}
.product-details .shop-item-selections td:first-child {
  width: 30%;
}
.product-details .choose-item-color span {
  display: inline-block;
  *display: inline;
  width: 10px;
  height: 10px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: -1px;
  margin-right: 2px;
}
.product-details-nav {
  margin-top: 30px !important;
  margin-left: 0 !important;
}
.product-detail-info {
  background: #fff;
  border-top: 0;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-color: #ddd;
  border-style: solid;
  padding: 20px 30px;
}
.product-detail-info p,
.product-detail-info ul {
  font-size: 0.9em;
}
.product-detail-info table {
  width: 100%;
}
.product-detail-info table td {
  font-size: 0.9em;
  width: 50%;
  line-height: 28px;
  border-bottom: 1px solid #E7E7E7;
}
.product-detail-info table td:first-child {
  font-weight: 600;
}
.product-detail-info table tr:last-child td {
  border-bottom: 0;
}

/*--------------------------------------------------------------------------
+	Portfolio Style
--------------------------------------------------------------------------*/
.portfolio-item {
  position: relative;
  background: #FFF;
  margin-bottom: 20px;
  border: 8px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.portfolio-item .portfolio-image {
  overflow: hidden;
  text-align: center;
  position: relative;
}
.portfolio-item .portfolio-image img {
  max-width: 100%;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}
.portfolio-item:hover {
  border: 8px solid #4f8db3;
}
.portfolio-item:hover .portfolio-image img {
  position: relative;
  -webkit-transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.1) rotate(2deg);
  -o-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);
}
.portfolio-item ul {
  list-style-type: none;
  margin-left: 0;
  margin-top: 20px;
  text-align: center;
  padding: 0;
}
.portfolio-item ul li {
  line-height: 28px;
}
.portfolio-item .portfolio-project-name {
  font-size: 1.3em;
  text-transform: uppercase;
}
.portfolio-item .read-more {
  text-align: center;
  padding-top: 10px;
}
.portfolio-item .portfolio-info-fade {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  color: #FFF;
  text-shadow: 2px 2px 4px #000000;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.portfolio-item .portfolio-info-fade ul {
  margin-top: 10%;
}
.portfolio-item .portfolio-info-fade .btn:hover {
  background: #4f8db3;
}
.portfolio-item .portfolio-info-fade ul {
  margin: 10% 20px 0 20px;
  padding: 0;
}
.portfolio-item .portfolio-info-fade ul li {
  text-align: center;
}
.portfolio-item .portfolio-info-fade ul li:first-child {
  border-bottom: 1px solid #CCC;
}
.portfolio-item:hover .portfolio-info-fade {
  display: block;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.lt-ie9 .portfolio-info-fade {
  display: none;
}
.lt-ie9 .portfolio-item:hover .portfolio-info-fade {
  display: block;
}
.portfolio-visit-btn {
  padding-top: 15px;
}
.portfolio-item-description ul {
  padding: 0;
}
/*--------------------------------------------------------------------------
+	Breadcrumbs Section Style
--------------------------------------------------------------------------*/
.section-breadcrumbs {
  background:white;
  margin-bottom: 10px;
  margin-top:40px;
  width: 24%;
  margin-left: 0;
}
.section-breadcrumbs h1 {
  color: #F84B00;
  font-size: 26px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media(max-width:767px) {
.section-breadcrumbs {
  margin-top:50px;
}
}

/*--------------------------------------------------------------------------
+	Buttons Style
--------------------------------------------------------------------------*/
.btn {
  border: 1px solid #F84B00;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  text-align: center;
  background: none repeat scroll 0 0 #F84B00;
  text-shadow: none;
  box-shadow: none;
  color: #FFF;
  white-space: nowrap;
}
.btn:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
  outline: 0;
}
.btn:selected {
outline: 0;
}
.btn .caret {
  border-top: 4px solid #FFF;
}
.btn-micro {
  padding: 1px 8px;
  font-size: 10px;
}
.btn-grey {
  border: 1px solid #cecece;
  color: #333;
  background: none repeat scroll 0 0 #E7E7E7;
}
.btn-grey:hover {
  background: none repeat scroll 0 0 #cecece;
  color: #333;
  text-decoration: none;
  border: 1px solid #cecece;
}
.btn-grey .caret {
  border-top: 4px solid #333;
}
.btn-blue {
  border: 1px solid #3e7191;
  color: #FFF;
  background: none repeat scroll 0 0 #4F8DB3;
}
.btn-blue:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-orange {
  border: 1px solid #cc5a00;
  color: #FFF;
  background: none repeat scroll 0 0 #FF7000;
}
.btn-orange:hover {
  background: none repeat scroll 0 0 #d45d00;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #d45d00;
}
.btn-green {
  border: 1px solid #4c5818;
  color: #FFF;
  background: none repeat scroll 0 0 #6E8023;
}
.btn-green:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-red {
  border: 1px solid #ab0d0d;
  color: #FFF;
  background: none repeat scroll 0 0 #DA1111;
}
.btn-red:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-group.open .btn.dropdown-toggle {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
}
.dropdown.open a.dropdown-toggle .caret {
  border-top: 4px solid #FFF;
}

