<!-- Services -->
<h1>What you can do</h1>
<div class="section section-white">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="service-wrapper">
					<i><div class="operation icon-buy"><img src="src/home/operations/img/money.png"/></div></i>
					<h2>Buy</h2>
					<p>Buy what you need at lower price and save you money.</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="service-wrapper">
					<i><div class="operation icon-rent"><img src="src/home/operations/img/for-rent.png"/></div></i>
					<h2>Rent</h2>
					<p></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<div class="service-wrapper">
					<i><div class="operation icon-exchange"><img src="src/home/operations/img/exchange2.png"/></div></i>
					<h2>Exchange</h2>
					<p>I need your travel bag and you need my ladder. Can we exchange them?</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="service-wrapper">
					<i><div class="operation icon-free"><img src="src/home/operations/img/stalk.png"/></div></i>
					<h2>Free</h2>
					<p>You can take it without paying money. It's free just for you.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>