<div class="section section-breadcrumbs" style="margin-top:50px">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 *ngIf="user" id="hi">Hello {{user.username}}</h1>
			</div>
		</div>
	</div>
</div>

<!--<div class="section" id="div1"  *ngIf="user">-->
<div class="section" id="div1">
	<div class="container">
		<div class="row">
			<div class="col-sm-12" id="cont">
				<h2 class="info">Personal Information</h2><span class="glyphicon glyphicon-edit" id="ic"></span><br/><br/><br/>
				<div id="con">
					<h4 class="personal">Name </h4>
					<h5 *ngIf="user" class="details">{{user.name}}</h5><br/>
					<h4 class="personal">Email</h4>
					<h5 *ngIf="user" class="details">{{user.email}}</h5><br/>
					<h4 class="personal">Age</h4>
					<h5 *ngIf="user" class="details" style="margin-left: 45px;">{{user.age}}</h5><br/>
					<h4 class="personal">Phone </h4>
					<h5 *ngIf="user" class="details" id='spe'>{{user.mobile}}</h5><br/>
					<h4 class="personal">Address</h4>
					<h5 *ngIf="user" id='spe2'> {{user.regionName}} , {{user.cityName}} , {{user.countryName}}</h5><br/>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<div id="div2" *ngIf="user" [ngStyle]="{'background-image':'url(' + user.Photo + ')','background-size':'cover'}"></div>
</div>
<span class="glyphicon glyphicon-plus" id="add"></span>
<div class="section">
	<div class="container">
		<div class="row" *ngIf="user">
				<ul class="grid cs-style-2" *ngIf="item">
				<div class="col-md-4 col-sm-6"  >
					<figure *ngFor='let items of item' style="display:inline-block">
						<img [src]='items.Photo'/>
						<figcaption id="im">

						</figcaption>
					</figure>
				</div>
			</ul>
		</div>
	</div>
	<ul class="pager">
		<li><a href="#" id="see">See More</a></li>
	</ul>

</div>