<h1>expectations</h1>
<div class="section  section-white">
	<div class="container">
	    <div class="row">
	        <div class="col-md-4">
	        	<div class="service-wrapper">
					<div>
		        		<p class="bubble st">Phasellus posuere et nisl ac commodo. Nulla facilisi.
							Sed tincidunt bibendum cursus.
						</p>
					</div>
		        	<div class="avatar">
						<span class="name">asmaa</span>
						<span class="work">student</span>
					</div>
		        </div>
	        </div>
	        <div class="col-md-4">
	        	<div class="service-wrapper">
					<div>
		        		<p class="bubble med">Phasellus posuere et nisl ac commodo. Nulla facilisi.
							Sed tincidunt bibendum cursus.</p>
					</div>
		        	<div class="avatar">
						<span class="name">ahmed</span>
						<span class="work">doctor</span>
					</div>
	        	</div>
	        </div>
	    	<div class="col-md-4">
        		<div class="service-wrapper">
					<div>
						<p class="bubble prof">Phasellus posuere et nisl ac commodo. Nulla facilisi.
							Sed tincidunt bibendum cursus.</p>
					</div>
		        	<div class="avatar">
						<span class="name">sarah</span>
						<span class="work">engineer</span>
					</div>
	        	</div>
	        </div>
	    </div>
	</div>