<h1>What people say</h1>
<div class="section  section-white">
	<div class="container">
	    <div class="row">
	        <div class="col-md-4 col-sm-6 col-xs-12">
	        	<div class="service-wrapper">
					<div>
		        		<p class="bubble fst"></p>
					</div>
		        	<div class="avatar user u1">
						<span class="name">Mohamed</span>
						<span class="city">Cairo</span>
					</div>
		        </div>
	        </div>
	        <div class="col-md-4 col-sm-6 col-xs-12">
	        	<div class="service-wrapper">
					<div>
		        		<p class="bubble sec"></p>
					</div>
		        	<div class="avatar user u2">
						<span class="name">Khaled</span>
						<span class="city">Suez</span>
					</div>
	        	</div>
	        </div>
	    	<div class="col-md-4 col-sm-6 col-xs-12">
        		<div class="service-wrapper">
					<div>
						<p class="bubble thd">"As an engineer, i spend my money to buy some materials.
							Bodrum is awesome idea to get them at low price or free!"</p>
					</div>
		        	<div class="avatar user u3">
						<span class="name">Yasmeen</span>
						<span class="city">Alex</span>
					</div>
	        	</div>
	        </div>
	    </div>
	</div>