<h1>expectations</h1>
<div class="section  section-breadcrumbs">
	<div class="container">
	    <div class="row">
	        <div class="col-md-4">
	        	<div class="service-wrapper">
		        	<p class="bubble st">student</p>
		        	<div class="avatar">
						<span class="name">asmaa</span>
						<span class="work">student</span>
					</div>
		        </div>
	        </div>
	        <div class="col-md-4">
	        	<div class="service-wrapper">
		        	<p class="bubble med">doctor</p>
		        	<div class="avatar">
						<span class="name"></span>
						<span class="work"></span>
					</div>
	        	</div>
	        </div>
	    	<div class="col-md-4">
        		<div class="service-wrapper">
					<p class="bubble prof">worker</p>
		        	<div class="avatar">
						<span class="name"></span>
						<span class="work"></span>
					</div>
	        	</div>
	        </div>
	    </div>
	</div>